:root {
    --common-color: rgb(40, 40, 40);
    --second-color: rgb(178, 0, 255)
}

@font-face {
    font-family: 'animeFont';
    src: url('../anime-ace.regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'animeFont';
}

body {
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
    margin: 0;
}

button:hover {
    opacity: 0.9;
}

.header h2 {
    color: var(--second-color);
    padding-left: 2%;
}

.header button {
    background-color: rgba(178, 0, 255, 0);
    border: 3px solid rgba(178, 0, 255, 0);
    color: var(--second-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 50%;
    bottom: 60px;
    transition: all .3s linear;
}

.header button:hover {
    border: 3px solid var(--second-color);   
    cursor: pointer; 
}

#header-active {
    background-color: rgba(178, 0, 255, 1);
    color: white;
}

.profile-icon-dropdown {
    position: relative;
    left: 1400px;
    bottom: 110px;
}

#profile-icon {
    width: 48px;
    height: 48px;
    transition: all 1s linear;
}

.profile-icon-dropdown-content{
    position: relative;
    left: -110px;
    display: none;
    position: absolute;
    background-color: rgba(60, 60, 60, 0.4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-icon-dropdown-content a {
    color: var(--second-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-icon-dropdown-content a:hover {
    background-color: var(--second-color);
    color: white;
}

.profile-icon-dropdown:hover .profile-icon-dropdown-content {
    display: block;
}

#login-in-button{
    left: 60%;
    background-color: rgba(178, 0, 255, 1);
    color: white;
    border-radius: 10px;
    transition: all 1s linear;
}

#login-in-button:hover {
    cursor: pointer; 
    transform: scale(1.1);
}

.loader {
    position: absolute;
    left: 45%;
    top: 45%;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3; 
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% {
        transform: scale(0); 
        border: 16px solid rgb(255, 255, 255);
    }

    50% {
        transform: scale(1.1);
        border: 16px solid rgb(178, 0, 255);
    }

    100% {
        transform: scale(0); 
        border: 16px solid rgb(255, 255, 255);
    }
}

#anime-image {
    position: absolute;
    left: 5%;
    top: 20%;
}

.about-anime {
    width: 70%;
    position: absolute;
    left: 25%;
    top: 15%;
    margin-top: 2%;
}

#para, #information {
    color: white;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

th a {
    color: var(--second-color);
    text-decoration: none;
}

.watching-button {
    background-color: rgba(178, 0, 255, 0);
    border: 1px solid rgba(178, 0, 255, 0);
    color: var(--second-color);
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    transition: all .3s linear;
}

.watching-button:hover {
    border: 1px solid var(--second-color);   
    cursor: pointer; 
}

#watching-button-1 {
    left: 100px;
}

#watching-button-2 {
    left: 58px;
}

.result-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    margin: 10px;
}

.result {
    background-color: rgb(40, 40, 40);
    width: 100%;
    
    color: white;
    border-radius: 20px;
    text-align: center;
}

.result .image {
    position: relative;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 14px;
}

.result #title {
    position: relative;
    bottom: 20px;
    margin-left: 80px;
}

.result #about {
    position: relative;
    bottom: 20px;
    width: 95%;
    height: 100px;
    margin: 10px;
}

.result button {
    background-color: rgba(178, 0, 255, 1);
    border: none;
    position: relative;
    bottom: 25px;
    margin: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.result button {
    cursor: pointer;
}

.result #not-user-anime {
    margin-top: 10px;
    margin-right: 300px;
}

#input {
    background-color: transparent;
    position: relative;
    width: 150px;
    height: 20px;
    border: none;
    outline: 2px solid white;
    color: white;
}

#input:focus {
    background-color: transparent;
    border: none;
    caret-color: white;
    outline: 2px solid rgb(179, 0, 255);
}

#input:focus::placeholder {
    color: white;
}

#update-button {
    position: relative;
    bottom: 0px;
}

#update-button:hover {
    outline: 2px solid rgb(82, 0, 117);
}

#not-user-anime {
    left: 150px;
}

.only-anime-body {
    background-color: rgb(40, 40, 40);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 550px;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.only-anime-container {
    width: 100%;
}

.only-anime-container img {
    position: relative;
    width: 210px;
    height: 330px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 14px;
}

.only-anime-body button {
    background-color: rgba(178, 0, 255, 1);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: 25px;
    margin-top: 20px;
}