@keyframes stretching {
    0%   { transform: scaleX(1)}
    50%  { transform: scaleX(1.2); }
    100% { transform: scaleX(1); }
}

@keyframes bounce {
    0%   { transform: scale(1, 1)    translateY(0); }
    10%  { transform: scale(1.1, .9) translateY(0); }
    30%  { transform: scale(.9, 1.1) translateY(-100px); }
    50%  { transform: scale(1, 1)    translateY(0); }
    100% { transform: scale(1, 1)    translateY(0); }
}

@keyframes zoom {
    0%   { 
        -moz-transform: scale(0);
        transform: scale(0); 
    }
    50%  { 
        -moz-transform: scale(1.2);
        transform: scale(1.2); 
    }
    100% { 
        -moz-transform: scale(1);
        transform: scale(1); 
    }
}


